/*BAG BRAND COLOURS*/
:root {
  --teal-primary: #00aaa0;
  --teal-dark: #008f86;
  --teal-light: #0bd0c5;
  --teal-lightest: #d4f7f5;
  --orange-primary: #f36f2f;
  --orange-dark: #e3530d;
  --orange-light: #fe8e58;
  --orange-lightest: #ffeee5;
  --yellow-primary: #f5a000;
  --yellow-dark: #e09200;
  --yellow-light: #ffb833;
  --yellow-lightest: #ffedcc;
  --black-primary: #61554d;
  --black-dark: #443c36;
  --black-light: #7d6e63;
  --black-lightest: #b0aaa6;
  --grey-primary: #edebe8;
  --grey-dark: #c8c4c1;
  --grey-light: #f8f7f6;
  --grey-lightest: #fafafa;
  --blue-primary: #3e82f7;
  --blue-dark: #0f64f5;
  --blue-light: #71a3f9;
  --red-primary: #e40521;
  --red-dark: #cd041e;
  --red-light: #fb556a;
  --rld-red-primary: #e40521;
  --rld-red-dark: #bb051c;
  --rld-red-light: #ed5f71;
  --rld-black-primary: #323232;
  --rld-black-light: #6f7275;
  --rld-black-lightest: #a1a5aa;
  --rld-grey-primary: #c6c9cc;
  --rld-grey-light: #e5e5e5;
  --rld-grey-lightest: #f5f5f5;
  --rld-blue-primary: #3e82f7;
  --rld-blue-dark: #0f64f5;
  --rld-blue-light: #71a3f9;
  --rld-teal-primary: #00a8a5;
  --rld-teal-lightest: #e5f6f6;
}

$primary-rld-color: #e40521;
$primary-bag-color: #00aaa0;
